.contenedor-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 101vh;
}

.contenedor-imagen-destacada{
    width: 50%;
}

.imagen-destacada{
    width: 100%;
}
