.contenedor-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contenedor-imagen-destacada {
    width: 50%;
}

.imagen-destacada {
    width: 100%;
}