.contenedor-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 101vh;
    justify-content: center;
}

.contenedor-imagen-destacada{
    width: 50%;
}

.imagen-destacada{
    width: 100%;
}

.spinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    color: #808080;
}